{% extends 'base.html.twig'%}

{% block title %}
    TITRE
{% endblock %}



{% block body %}
<p>Liste des produits</p>
<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Catégorie</td>
            <td>Prix</td>
            <td>Type de produit</td>
            <td><a href="{{  path('create_product') }}"><button>CREATE Product</button></a></td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td> <a href="{{  path('product_show', {slug:product.slug} ) }}"> {{ product.name }} </a></td>
                <td>{{ product.getCategory().name }}</td>
                <td>{{ product.price }} € </td>
                <td>{{ product.getTypeProduct().label }}</td>
                <td><button class="btn_add" url="{{  path('add_cart_product', {id:product.id} ) }}">Add to Cart</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include('product/about.html.twig')%}
{{ encore_entry_script_tags('cart') }}

{% endblock %}

